<% extend('../partials/layout') %>
    <!-- data tables css -->
    <div class="pcoded-main-container">
        <div class="pcoded-content container">
            <!-- [ Main Content ] start -->
            <div class="row">
                <!-- [ Dashboard ] start -->
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-6 d-flex align-items-center mb-4">
                            <h1 class="d-inline-block font-weight-normal mb-0">
                                <%= title %>
                            </h1>
                        </div>
                        <div class="col-sm-6 d-block d-sm-flex align-items-center justify-content-end mb-4 text-right">
                            <a type="button" href="/groups/add" class="btn d-block ml-auto btn-primary"><i class="feather icon-plus mr-2"></i>Thêm mới</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table id="usertable" class="table table-center mb-0 ">
                                            <thead>
                                                <tr>
                                                    <th>ID</th>
                                                    <th>Trạng thái</th>
                                                    <th>Mã</th>
                                                    <th>Tên nhóm</th>
                                                    <th>Trưởng Nhóm</th>
                                                    <th>Ngày tạo</th>
                                                    <th>Ngày cập nhật</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% for(var i = 0; i < groups.length; i++) { %>
                                                    <tr>
                                                        <td>
                                                            <%=groups[i].id %>
                                                        </td>
                                                        <td>
                                                            <span g_id="<%=groups[i].id %>" status="<%=groups[i].is_delete %>" class=" active_group badge badge-pill
                                                                    <% if(groups[i].is_delete){ %>badge-danger">Vô hiệu<% }else{%>badge-success">Hoạt động <% } %> </span>
                                                        </td>
                                                        <td>
                                                            <%=groups[i].group_code %>
                                                        </td>
                                                        <td>
                                                            <%=groups[i].group_name %>
                                                        </td>
                                                        <td>
                                                            <%=groups[i].full_name %>
                                                        </td>
                                                        <td>
                                                            <%= moment(groups[i].createdAt).format("YYYY-MM-DD HH:mm:ss") %>
                                                        </td>
                                                        <td>
                                                            <%= moment(groups[i].updatedAt).format("YYYY-MM-DD HH:mm:ss") %>
                                                        </td>
                                                        <td class="text-right">
                                                            <div class="btn-group card-option">
                                                                <button type="button" class="btn shadow-none ">
                                                            <i class="feather icon-plus"></i>
                                                        </button>
                                                                <button type="button" class="btn shadow-none px-0 dropdown-toggle no-arrow" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <i class="feather icon-more-horizontal"></i>
                                                        </button>
                                                                <ul class="list-unstyled card-option dropdown-menu dropdown-menu-right">
                                                                    <li class="dropdown-item"><a href="/groups/edit/<%=groups[i].id %>"><i class="feather icon-refresh-cw"></i> Chỉnh sửa</a></li>
                                                                    <li class="dropdown-item close-card"><a href="#!"><i class="feather icon-trash"></i> remove</a></li>
                                                                </ul>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <% } %>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- [ Dashboard ] end -->
            </div>