<% extend('../partials/layout') %>
    <!-- data tables css -->
    <link rel="stylesheet" href="/assets/css/plugins/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="/assets/css/plugins/dataTables.bootstrap4.min.css">
    <div class="pcoded-main-container">
        <div class="pcoded-content container">
            <!-- [ Main Content ] start -->
            <div class="row">
                <!-- [ Dashboard ] start -->
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-12 d-block d-sm-flex align-items-center justify-content-end mb-4 text-right">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">Từ ngày</span>
                                </div>
                                <input id="from" class="form-control" type="date" value="<%= from.replace(" ", "T ")%>" id="example-date-input">
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">Đến ngày</span>
                                </div>
                                <input id="to" class="form-control" type="date" value="<%= to.replace(" ", "T ")%>" id="example-date-input">
                            </div>

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="filter_salary">Lọc</span>
                                </div>
                            </div>

                        </div>
                    </div>
                    <p>Danh sách đang đi làm</p>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="dt-responsive table-responsive">
                                        <table id="usertable" class="table table-striped nowrap">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th>ID</th>
                                                    <th>Loại</th>
                                                    <th>Họ và tên</th>
                                                    <th>SĐT</th>
                                                    <th>Địa chỉ</th>
                                                    <th>MXH</th>
                                                    <th>Telegram</th>
                                                    <th>Lương dạy</th>
                                                    <th>Lương coi thi</th>
                                                    <th>Lương dịch vụ</th>
                                                    <th>Ngày tạo</th>
                                                    <th>Ngày cập nhật</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% for(var i = 0; i < workk_members.length; i++) { %>
                                                    <tr>
                                                        <td class="text-right">
                                                            <div class="btn-group card-option">
                                                                <a href="/users/edit/<%=workk_members[i].id %>"><i class="feather icon-edit"></i></a>
                                                                <a href="#!"><i class="feather icon-trash"></i></a>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <%=workk_members[i].id %>
                                                        </td>
                                                        <td>
                                                            <% if(workk_members[i].is_lead){ %>
                                                                <span class="badge badge-pill badge-info">Trưởng nhóm</span>
                                                                <% }else{%>
                                                                    <span class="badge badge-pill badge-success">Giảng viên</span>
                                                                    <% } %>
                                                        </td>
                                                        <td>
                                                            <%=workk_members[i].full_name %>
                                                        </td>
                                                        <td>
                                                            <%=workk_members[i].phone %>
                                                        </td>
                                                        <td>
                                                            <%=workk_members[i].address %>
                                                        </td>
                                                        <td>
                                                            <%=workk_members[i].social %>
                                                        </td>
                                                        <td class="sorting_1">
                                                            <div class="media">
                                                                <div class="media-body ml-3 align-self-center">
                                                                    <h5 class="mb-1">
                                                                        <%=workk_members[i].tele_user %>
                                                                    </h5>
                                                                    <p class="mb-0">
                                                                        <%=workk_members[i].tele_id %>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <%=workk_members[i].day_salary %>
                                                        </td>
                                                        <td>
                                                            <%=workk_members[i].thi_salary %>
                                                        </td>
                                                        <td>
                                                            <%=workk_members[i].dv_salary %>
                                                        </td>
                                                        <td>
                                                            <%= moment(workk_members[i].createdAt).format("YYYY-MM-DD HH:mm:ss") %>
                                                        </td>
                                                        <td>
                                                            <%= moment(workk_members[i].updatedAt).format("YYYY-MM-DD HH:mm:ss") %>
                                                        </td>
                                                    </tr>
                                                    <% } %>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p>Danh sách đang đi làm</p>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="dt-responsive table-responsive">
                                        <table id="free_members" class="table table-striped nowrap">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th>ID</th>
                                                    <th>Loại</th>
                                                    <th>Họ và tên</th>
                                                    <th>SĐT</th>
                                                    <th>Địa chỉ</th>
                                                    <th>MXH</th>
                                                    <th>Telegram</th>
                                                    <th>Lương dạy</th>
                                                    <th>Lương coi thi</th>
                                                    <th>Lương dịch vụ</th>
                                                    <th>Ngày tạo</th>
                                                    <th>Ngày cập nhật</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% for(var i = 0; i < free_members.length; i++) { %>
                                                    <tr>
                                                        <td class="text-right">
                                                            <div class="btn-group card-option">
                                                                <a href="/users/edit/<%=free_members[i].id %>"><i class="feather icon-edit"></i></a>
                                                                <a href="#!"><i class="feather icon-trash"></i></a>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <%=free_members[i].id %>
                                                        </td>
                                                        <td>
                                                            <% if(free_members[i].is_lead){ %>
                                                                <span class="badge badge-pill badge-info">Trưởng nhóm</span>
                                                                <% }else{%>
                                                                    <span class="badge badge-pill badge-success">Giảng viên</span>
                                                                    <% } %>
                                                        </td>
                                                        <td>
                                                            <%=free_members[i].full_name %>
                                                        </td>
                                                        <td>
                                                            <%=free_members[i].phone %>
                                                        </td>
                                                        <td>
                                                            <%=free_members[i].address %>
                                                        </td>
                                                        <td>
                                                            <%=free_members[i].social %>
                                                        </td>
                                                        <td class="sorting_1">
                                                            <div class="media">
                                                                <div class="media-body ml-3 align-self-center">
                                                                    <h5 class="mb-1">
                                                                        <%=free_members[i].tele_user %>
                                                                    </h5>
                                                                    <p class="mb-0">
                                                                        <%=free_members[i].tele_id %>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <%=free_members[i].day_salary %>
                                                        </td>
                                                        <td>
                                                            <%=free_members[i].thi_salary %>
                                                        </td>
                                                        <td>
                                                            <%=free_members[i].dv_salary %>
                                                        </td>
                                                        <td>
                                                            <%= moment(free_members[i].createdAt).format("YYYY-MM-DD HH:mm:ss") %>
                                                        </td>
                                                        <td>
                                                            <%= moment(free_members[i].updatedAt).format("YYYY-MM-DD HH:mm:ss") %>
                                                        </td>
                                                    </tr>
                                                    <% } %>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- [ Dashboard ] end -->
            </div>
            <!-- datatable Js -->
            <script src="/assets/js/plugins/jquery.dataTables.min.js"></script>
            <script src="/assets/js/plugins/dataTables.bootstrap4.min.js"></script>
            <script src="/assets/js/plugins/dataTables.buttons.min.js"></script>
            <script src="/assets/js/plugins/dataTables.responsive.min.js"></script>
            <script>
                $('#usertable').DataTable({
                    responsive: true,
                    columnDefs: [{
                        className: 'dt-body-right'
                    }],

                    "autoWidth": false,
                    "rowCallback": function(row, data, index) {
                        return;
                        var that = row;
                        if (!$(row).attr('role') || $(row).attr('role') != 'row' || $(row).hasClass('parent')) {
                            return;
                        }
                        $(row).addClass('parent');
                    }
                });
                $('#free_members').DataTable({
                    responsive: true,
                    columnDefs: [{
                        className: 'dt-body-right'
                    }],

                    "autoWidth": false,
                    "rowCallback": function(row, data, index) {
                        return;
                        var that = row;
                        if (!$(row).attr('role') || $(row).attr('role') != 'row' || $(row).hasClass('parent')) {
                            return;
                        }
                        $(row).addClass('parent');
                    }
                });
            </script>