<% extend('../partials/layout') %>
    <!-- select2 css -->
    <link rel="stylesheet" href="/assets/css/plugins/select2.min.css">
    <script src="/assets/js/plugins/select2.full.min.js"></script>
    <div class="pcoded-main-container">
        <div class="pcoded-content container">
            <!-- [ Main Content ] start -->
            <div class="row">
                <div class="col-sm-6 d-flex align-items-center mb-4">
                    <h1 class="d-inline-block font-weight-normal mb-0">
                        <%= title %>
                    </h1>
                </div>
            </div>
            <div class="row">
                <!-- [ Inputs ] start -->
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row align-items-end">
                                <div class="col-xl-12 col-md-12 mb-5">
                                    <h5>Danh sách thành viên nhóm</h5>
                                    <hr>
                                    <select id="members" class="js-example-responsive col-sm-12 select2-hidden-accessible" multiple="" style="width:100%;" data-select2-id="19" tabindex="-1" aria-hidden="true">
                                            <% for(var i = 0; i < users.length; i++) { %>
                                            <option  <% if( members.includes( users[i].id)){%> selected <%}%> value="<%= users[i].id %>"><%= users[i].full_name %>- <%= users[i].phone %></option>
                                            <% } %>
                                        </select>
                                    <script>
                                        $(document).ready(function() {
                                            $(".js-example-responsive").select2();
                                        });
                                    </script>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- [ Inputs ] end -->
                <!-- [ Inputs ] start -->
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="datta-example mb-4">
                                <div class="card-footer">
                                    <input id="id" value="<%= group_id %>" hidden>
                                    <button type="button" id="add_member" class="btn btn-primary">Cập nhật</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [ Inputs ] end -->
        </div>
        <!-- [ Main Content ] end -->
    </div>
    </div>
    <script defer>
        console.log("Page script")
    </script>