<% extend('../partials/layout') %>
    <div class="pcoded-main-container">
        <div class="pcoded-content container">
            <!-- [ Main Content ] start -->
            <div class="row">
                <!-- [ Dashboard ] start -->
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-4 d-flex align-items-center mb-4">
                            <h1 class="d-inline-block font-weight-normal mb-0">
                                <%= title %>
                            </h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 datta-example">
                            <div class="card">
                                <div class="card-body">
                                    <div class="dt-responsive table-responsive">
                                        <table id="usertable" class="table table-center mb-0 ">
                                            <thead>
                                                <tr>
                                                    <th>ID</th>
                                                    <th>Loại</th>
                                                    <th>Họ và tên</th>
                                                    <th>SĐT</th>
                                                    <th>Địa chỉ</th>
                                                    <th>MXH</th>
                                                    <th>Telegram</th>
                                                    <th>Ngày tạo</th>
                                                    <th>Ngày cập nhật</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% for(var i = 0; i < users.length; i++) { %>
                                                    <tr>
                                                        <td>
                                                            <%=users[i].member_id %>
                                                        </td>
                                                        <td>
                                                            <% if(users[i].is_lead){ %>
                                                                <span class="badge badge-pill badge-info">Trưởng nhóm</span>
                                                                <% }else{%>
                                                                    <span class="badge badge-pill badge-success">Giảng viên</span>
                                                                    <% } %>
                                                        </td>
                                                        <td>
                                                            <%=users[i].full_name %>
                                                        </td>
                                                        <td>
                                                            <%=users[i].phone %>
                                                        </td>
                                                        <td>
                                                            <%=users[i].address %>
                                                        </td>
                                                        <td>
                                                            <%=users[i].social %>
                                                        </td>
                                                        <td class="sorting_1">
                                                            <div class="media">
                                                                <div class="media-body ml-3 align-self-center">
                                                                    <h5 class="mb-1">
                                                                        <%=users[i].tele_user %>
                                                                    </h5>
                                                                    <p class="mb-0">
                                                                        <%=users[i].tele_id %>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <%= moment(users[i].createdAt).format("YYYY-MM-DD HH:mm:ss") %>
                                                        </td>
                                                        <td>
                                                            <%= moment(users[i].updatedAt).format("YYYY-MM-DD HH:mm:ss") %>
                                                        </td>
                                                        <td class="text-right">
                                                            <div class="btn-group card-option">
                                                                <button type="button" class="btn shadow-none ">
                                                            <i class="feather icon-plus"></i>
                                                        </button>
                                                                <button type="button" class="btn shadow-none px-0 dropdown-toggle no-arrow" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <i class="feather icon-more-horizontal"></i>
                                                        </button>
                                                                <ul class="list-unstyled card-option dropdown-menu dropdown-menu-right">
                                                                    <li class="dropdown-item"><a href="/users/edit/<%=users[i].member_id %>"><i class="feather icon-user"></i> Chỉnh sửa</a></li>
                                                                    <li class="dropdown-item"><a href="/groups/salary/<%=group_id %>?user_id=<%=users[i].member_id %>"><i class="feather icon-user"></i> Quá trình làm việc</a></li>
                                                                </ul>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <% } %>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!-- [ Inputs ] start -->
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row align-items-end">
                                        <div class="col-xl-12 col-md-12 mb-5">
                                            <h5>Danh sách thành viên nhóm</h5>
                                            <hr>
                                            <select id="members" class="js-example-responsive col-sm-12 select2-hidden-accessible" multiple="" style="width:100%;" data-select2-id="19" tabindex="-1" aria-hidden="true">
                                                    <% for(var i = 0; i < user_all.length; i++) { %>
                                                    <option  <% if( members.includes( user_all[i].id)){%> selected <%}%> value="<%= user_all[i].id %>"><%= user_all[i].full_name %>- <%= user_all[i].phone %></option>
                                                    <% } %>
                                                </select>
                                            <script>
                                                $(document).ready(function() {
                                                    $(".js-example-responsive").select2();
                                                });
                                            </script>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- [ Inputs ] end -->
                        <!-- [ Inputs ] start -->
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="datta-example mb-4">
                                        <div class="card-footer">
                                            <input id="id" value="<%= group_id %>" hidden>
                                            <button type="button" id="add_member" class="btn btn-primary">Cập nhật</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- [ Dashboard ] end -->
            </div>
            <script>
                $('#usertable').DataTable({
                    responsive: true,
                    columnDefs: [{
                        className: 'dt-body-right'
                    }],

                    "autoWidth": false,
                    "rowCallback": function(row, data, index) {
                        return;
                        var that = row;
                        if (!$(row).attr('role') || $(row).attr('role') != 'row' || $(row).hasClass('parent')) {
                            return;
                        }
                        $(row).addClass('parent');
                    }
                });
            </script>