<% extend('../partials/layout') %>
    <div class="pcoded-main-container">
        <div class="pcoded-content container">
            <!-- [ Main Content ] start -->
            <div class="row">
                <!-- [ Dashboard ] start -->
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-4 d-flex align-items-center mb-4">
                            <h1 class="d-inline-block font-weight-normal mb-0">
                                <%= title %>
                            </h1>
                        </div>
                        <div class="col-sm-8 d-block d-sm-flex align-items-center justify-content-end mb-4 text-right">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">Từ ngày</span>
                                </div>
                                <input id="from" class="form-control" type="date" value="<%= from.replace(" ", "T ")%>" id="example-date-input">
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">Đến ngày</span>
                                </div>
                                <input id="to" class="form-control" type="date" value="<%= to.replace(" ", "T ")%>" id="example-date-input">
                            </div>

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="filter_salary">Lọc</span>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 datta-example">
                            <div class="card">
                                <div class="card-body">
                                    <div class="dt-responsive table-responsive">
                                        <table id="usertable" class="table table-striped nowrap">
                                            <thead>
                                                <!-- checkin: checkout: class_id: createdAt: description: full_name: id: is_user_paid: paid_date: phone: room: salary: tele_id: tele_user: time_keep: total_day: total_dv: total_thi: updatedAt: user_id: -->
                                                <tr>
                                                    <th>Thao tác</th>
                                                    <th>Mã người dùng</th>
                                                    <th>Họ và tên</th>
                                                    <th>SĐT</th>
                                                    <th>Mã lớp</th>
                                                    <th>Phòng</th>
                                                    <th>Mô Tả</th>
                                                    <th>Checkin</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% for(var i = 0; i < salaries.length; i++) { %>
                                                    <tr>
                                                        <td>
                                                            <% if(salaries[i].action=="DAY"){ %>
                                                                <span class="badge badge-pill badge-info">Dạy</span>
                                                                <% }else if(salaries[i].action=="THI"){%>
                                                                    <span class="badge badge-pill badge-success">Coi thi</span>
                                                                    <% }else {%>
                                                                        <span class="badge badge-pill badge-danger">Dịch vụ</span>
                                                                        <% } %>
                                                        </td>
                                                        <td>
                                                            <%=salaries[i].user_id %>
                                                        </td>
                                                        <td>
                                                            <%=salaries[i].full_name %>
                                                        </td>
                                                        <td>
                                                            <%=salaries[i].phone %>
                                                        </td>
                                                        <td>
                                                            <%=salaries[i].class_code %>
                                                        </td>
                                                        <td>
                                                            <%=salaries[i].room %>
                                                        </td>
                                                        <td>
                                                            <%=salaries[i].description %>
                                                        </td>
                                                        <td>
                                                            <%= moment(salaries[i].checkin).format("YYYY-MM-DD HH:mm:ss") %>
                                                        </td>
                                                        <td class="text-right">
                                                            <div class="btn-group card-option">
                                                                <button type="button" class="btn shadow-none ">
                                                            <i class="feather icon-plus"></i>
                                                        </button>
                                                                <button type="button" class="btn shadow-none px-0 dropdown-toggle no-arrow" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <i class="feather icon-more-horizontal"></i>
                                                        </button>
                                                                <ul class="list-unstyled card-option dropdown-menu dropdown-menu-right">
                                                                    <li class="dropdown-item"><a href="/salaries/edit/<%=salaries[i].id %>"><i class="feather icon-refresh-cw"></i> Chỉnh sửa</a></li>
                                                                    <li class="dropdown-item close-card"><a href="#!"><i class="feather icon-trash"></i> remove</a></li>
                                                                </ul>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <% } %>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- [ Dashboard ] end -->
            </div>